# 実験 II 演習
言語処理 100 本ノックの「第 2 章: UNIX コマンド」で UNIX コマンドのうち
言語処理と関連の強いコマンドに慣れる．  
またそれらのコマンドでできることを Python で記述することで
言語処理の基本的な前処理に習熟する．

# 第2章: UNIXコマンド
[popular-names.txt](https://nlp100.github.io/data/popular-names.txt) は，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，[popular-names.txt](https://nlp100.github.io/data/popular-names.txt) を入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

# 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [1]:
import urllib.request
count=0
f= urllib.request.urlopen('https://nlp100.github.io/data/popular-names.txt')
for line in f:
  count+=1
print(count)

2780

# 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [2]:
import urllib.request

f= urllib.request.urlopen('https://nlp100.github.io/data/popular-names.txt')

f_popular=open("popular-names.txt",mode="w")
lines=f.read().decode()

f_popular.write(lines)
lines_tab_to_space=lines.replace("\t"," ")

print(lines_tab_to_space[0:500])

with open("popular-names_tab_to_space.txt",mode="w") as f_re:
  f_re.write(lines_tab_to_space)

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
John M 9655 1880
William M 9532 1880
James M 5927 1880
Charles M 5348 1880
George M 5126 1880
Frank M 3242 1880
Joseph M 2632 1880
Thomas M 2534 1880
Henry M 2444 1880
Robert M 2415 1880
Mary F 6919 1881
Anna F 2698 1881
Emma F 2034 1881
Elizabeth F 1852 1881
Margaret F 1658 1881
Minnie F 1653 1881
Ida F 1439 1881

# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [3]:
with open("popular-names_tab_to_space.txt",mode="r") as f_tab_to_space:
  with open("col1.txt",mode="w") as f1:
    for data in f_tab_to_space:
      f1.write(data.split(" ")[0])
      f1.write("\n")

with open("popular-names_tab_to_space.txt",mode="r") as f_tab_to_space:
  with open("col2.txt",mode="w") as f2:
    for data in f_tab_to_space:
      f2.write(data.split(" ")[1])
      f2.write("\n")

# 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [4]:
f1=open("col1.txt",mode="r")
f2=open("col2.txt",mode="r")

f3=open("marge_col1_col2.txt",mode="w")
for data1,data2 in zip(f1,f2):
  f3.write(data1[:-1]+'\t'+data2)

#f3=open("marge_col1_col2.txt",mode="r")
#print(f3.read()[0:30])

#14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [5]:
N=int(input())
count=0
f3=open("marge_col1_col2.txt",mode="r")
for data in f3:
  print(data[:-1])
  count+=1
  if count==N:
    break

Mary	F
Anna	F
Emma	F

#15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [6]:
N=int(input())

count=0
f3=open("popular-names.txt",mode="r")

list=[]

for data in f3:
  list.append(data)
#print(list)

for data in list[len(list)-N:]:
  print(data[:-1])

Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

#16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [7]:
N=int(input())
f=open("popular-names.txt",mode="r")

count=0
for i in f:
  count+=1

print("元データの行数＝",count)

part_lines=int(count/N)
print("分割ファイル１つあたりの行数＝",part_lines)

f=open("popular-names.txt",mode="r")

part=1
f_part= open("popular-names_{0}.txt".format(part),mode="w")

j=0
for i in f:
    #ファイルへ書き込み 
  f_part.write(i[:-1])
    #一行書きこむごとにjを１増やす
  j+=1
    #jが１ファイル分になったらok
  if j==part_lines:
    #jを初期化
    j=0
    part+=1
    f_part.close()
    if part>N:
      break
    f_part= open("popular-names_{0}.txt".format(part),mode="w") 
  else:
    f_part.write("\n")

元データの行数＝ 2780
分割ファイル１つあたりの行数＝ 926

# 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [8]:
#上の分割課題でファイルを分割しすぎてしまった場合に使用
"""import os
for i in range(1,1392):
  os.remove("/content/popular-names_{0}.txt".format(i))
"""
s=set()
f=open("popular-names.txt",mode="r")

for lines in f:
  
  s.add(lines.split("\t")[0])
print(s)
print(len(s))

{'Oliver', 'Hannah', 'Chloe', 'Larry', 'Annie', 'Minnie', 'Linda', 'Nicole', 'Austin', 'Ida', 'Doris', 'Ethel', 'Olivia', 'Ashley', 'Amanda', 'Helen', 'Alexis', 'Cynthia', 'Lisa', 'Bertha', 'Edward', 'Jacob', 'Lauren', 'Henry', 'Rebecca', 'Pamela', 'Mary', 'Mildred', 'Steven', 'Gary', 'Rachel', 'George', 'Lori', 'Florence', 'Jayden', 'Joan', 'Heather', 'Deborah', 'Michael', 'Joshua', 'Brandon', 'Sophia', 'Donald', 'Bessie', 'Mason', 'Liam', 'Scott', 'Jeffrey', 'Frances', 'Evelyn', 'Sarah', 'Elijah', 'Mia', 'Abigail', 'Matthew', 'Kelly', 'Ronald', 'Stephanie', 'Anna', 'Emma', 'Thomas', 'Harry', 'Barbara', 'Elizabeth', 'Amy', 'Julie', 'Noah', 'Richard', 'Walter', 'Charlotte', 'Margaret', 'Brittany', 'Sharon', 'Justin', 'Clara', 'Ruth', 'Carol', 'Taylor', 'Jason', 'Isabella', 'Aiden', 'Kimberly', 'Susan', 'Logan', 'Patricia', 'Marie', 'Madison', 'Daniel', 'Betty', 'Emily', 'Ava', 'Nancy', 'Brian', 'Lucas', 'Karen', 'Tammy', 'Andrew', 'Benjamin', 'Megan', 'Charles', 'Donna', 'Alice', 'Michelle', 'Jennifer', 'Samantha', 'Amelia', 'John', 'James', 'Sandra', 'Kathleen', 'Debra', 'Anthony', 'Harper', 'David', 'Shirley', 'Dorothy', 'Angela', 'Virginia', 'William', 'Lillian', 'Ethan', 'Tyler', 'Laura', 'Christopher', 'Joseph', 'Mark', 'Judith', 'Melissa', 'Jessica', 'Robert', 'Alexander', 'Tracy', 'Frank', 'Carolyn', 'Nicholas', 'Crystal'}
136

# 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [9]:
f=open("popular-names.txt",mode="r")

l=[]
for data in f:
  list=data.split("\t")
  list[2]=int(list[2])
  l.append(list)
#print(l)

from operator import itemgetter

l_sorted = sorted(l, key=itemgetter(2),reverse=True)

#print(l_sorted)

#write in file

f_sorted=open("sorted_popular-names.txt",mode="w")
for data1 in l_sorted:
  for data2 in data1:

    f_sorted.write(str(data2))

    if str(data2)[-1]!="\n":
      #出力にソート結果は出さずfileに書きこんだ
      f_sorted.write("\t")

# 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [10]:
dict={}
i=0

with open("popular-names.txt",mode="r") as f:
  for data in f:
    dict.setdefault(data.split("\t")[0], 0)
    dict[data.split("\t")[0]]+=1

  
print(dict)
print(sorted(dict.items(),key=lambda x:x[1],reverse=True))

for name in sorted(dict.items(),key=lambda x:x[1],reverse=True):
  print(name[0])

{'Mary': 92, 'Anna': 41, 'Emma': 35, 'Elizabeth': 73, 'Minnie': 12, 'Margaret': 60, 'Ida': 8, 'Alice': 10, 'Bertha': 12, 'Sarah': 26, 'John': 108, 'William': 111, 'James': 118, 'Charles': 75, 'George': 58, 'Frank': 43, 'Joseph': 70, 'Thomas': 58, 'Henry': 23, 'Robert': 108, 'Annie': 5, 'Edward': 40, 'Clara': 8, 'Florence': 20, 'Ethel': 16, 'Bessie': 2, 'Harry': 7, 'Helen': 45, 'Ruth': 39, 'Marie': 20, 'Lillian': 4, 'Mildred': 24, 'Dorothy': 36, 'Frances': 15, 'Walter': 1, 'Evelyn': 3, 'Virginia': 13, 'Richard': 51, 'Betty': 24, 'Donald': 20, 'Doris': 10, 'Shirley': 14, 'Barbara': 32, 'Patricia': 38, 'Joan': 9, 'Nancy': 22, 'Carol': 15, 'David': 57, 'Ronald': 10, 'Judith': 8, 'Linda': 26, 'Sandra': 16, 'Carolyn': 1, 'Sharon': 7, 'Michael': 74, 'Susan': 24, 'Donna': 12, 'Larry': 2, 'Kathleen': 4, 'Deborah': 13, 'Gary': 5, 'Karen': 18, 'Debra': 9, 'Pamela': 1, 'Cynthia': 11, 'Mark': 16, 'Steven': 7, 'Lisa': 18, 'Jeffrey': 5, 'Lori': 1, 'Kimberly': 14, 'Tammy': 7, 'Angela': 15, 'Michelle': 15, 'Jennifer': 26, 'Melissa': 18, 'Christopher': 43, 'Brian': 13, 'Amy': 14, 'Laura': 1, 'Tracy': 1, 'Julie': 1, 'Jason': 13, 'Scott': 1, 'Stephanie': 17, 'Heather': 15, 'Nicole': 13, 'Matthew': 37, 'Rebecca': 2, 'Jessica': 25, 'Amanda': 20, 'Daniel': 31, 'Kelly': 1, 'Joshua': 31, 'Crystal': 1, 'Ashley': 23, 'Megan': 3, 'Brittany': 10, 'Andrew': 21, 'Justin': 4, 'Samantha': 19, 'Lauren': 2, 'Emily': 26, 'Brandon': 7, 'Tyler': 9, 'Taylor': 8, 'Nicholas': 10, 'Jacob': 25, 'Hannah': 13, 'Austin': 4, 'Alexis': 8, 'Rachel': 1, 'Madison': 18, 'Abigail': 17, 'Olivia': 18, 'Ethan': 15, 'Anthony': 6, 'Isabella': 15, 'Ava': 14, 'Sophia': 13, 'Chloe': 4, 'Alexander': 8, 'Mia': 10, 'Jayden': 5, 'Noah': 10, 'Aiden': 3, 'Mason': 8, 'Liam': 7, 'Charlotte': 5, 'Harper': 3, 'Benjamin': 4, 'Elijah': 3, 'Amelia': 2, 'Logan': 2, 'Oliver': 2, 'Lucas': 1}
[('James', 118), ('William', 111), ('John', 108), ('Robert', 108), ('Mary', 92), ('Charles', 75), ('Michael', 74), ('Elizabeth', 73), ('Joseph', 70), ('Margaret', 60), ('George', 58), ('Thomas', 58), ('David', 57), ('Richard', 51), ('Helen', 45), ('Frank', 43), ('Christopher', 43), ('Anna', 41), ('Edward', 40), ('Ruth', 39), ('Patricia', 38), ('Matthew', 37), ('Dorothy', 36), ('Emma', 35), ('Barbara', 32), ('Daniel', 31), ('Joshua', 31), ('Sarah', 26), ('Linda', 26), ('Jennifer', 26), ('Emily', 26), ('Jessica', 25), ('Jacob', 25), ('Mildred', 24), ('Betty', 24), ('Susan', 24), ('Henry', 23), ('Ashley', 23), ('Nancy', 22), ('Andrew', 21), ('Florence', 20), ('Marie', 20), ('Donald', 20), ('Amanda', 20), ('Samantha', 19), ('Karen', 18), ('Lisa', 18), ('Melissa', 18), ('Madison', 18), ('Olivia', 18), ('Stephanie', 17), ('Abigail', 17), ('Ethel', 16), ('Sandra', 16), ('Mark', 16), ('Frances', 15), ('Carol', 15), ('Angela', 15), ('Michelle', 15), ('Heather', 15), ('Ethan', 15), ('Isabella', 15), ('Shirley', 14), ('Kimberly', 14), ('Amy', 14), ('Ava', 14), ('Virginia', 13), ('Deborah', 13), ('Brian', 13), ('Jason', 13), ('Nicole', 13), ('Hannah', 13), ('Sophia', 13), ('Minnie', 12), ('Bertha', 12), ('Donna', 12), ('Cynthia', 11), ('Alice', 10), ('Doris', 10), ('Ronald', 10), ('Brittany', 10), ('Nicholas', 10), ('Mia', 10), ('Noah', 10), ('Joan', 9), ('Debra', 9), ('Tyler', 9), ('Ida', 8), ('Clara', 8), ('Judith', 8), ('Taylor', 8), ('Alexis', 8), ('Alexander', 8), ('Mason', 8), ('Harry', 7), ('Sharon', 7), ('Steven', 7), ('Tammy', 7), ('Brandon', 7), ('Liam', 7), ('Anthony', 6), ('Annie', 5), ('Gary', 5), ('Jeffrey', 5), ('Jayden', 5), ('Charlotte', 5), ('Lillian', 4), ('Kathleen', 4), ('Justin', 4), ('Austin', 4), ('Chloe', 4), ('Benjamin', 4), ('Evelyn', 3), ('Megan', 3), ('Aiden', 3), ('Harper', 3), ('Elijah', 3), ('Bessie', 2), ('Larry', 2), ('Rebecca', 2), ('Lauren', 2), ('Amelia', 2), ('Logan', 2), ('Oliver', 2), ('Walter', 1), ('Carolyn', 1), ('Pamela', 1), ('Lori', 1), ('Laura', 1), ('Tracy', 1), ('Julie', 1), ('Scott', 1), ('Kelly', 1), ('Crystal', 1), ('Rachel', 1), ('Lucas', 1)]
James
William
John
Robert
Mary
Charles
Michael
Elizabeth
Joseph
Margaret
George
Thomas
David
Richard
Helen
Frank
Christopher
Anna
Edward
Ruth
Patricia
Matthew
Dorothy
Emma
Barbara
Daniel
Joshua
Sarah
Linda
Jennifer
Emily
Jessica
Jacob
Mildred
Betty
Susan
Henry
Ashley
Nancy
Andrew
Florence
Marie
Donald
Amanda
Samantha
Karen
Lisa
Melissa
Madison
Olivia
Stephanie
Abigail
Ethel
Sandra
Mark
Frances
Carol
Angela
Michelle
Heather
Ethan
Isabella
Shirley
Kimberly
Amy
Ava
Virginia
Deborah
Brian
Jason
Nicole
Hannah
Sophia
Minnie
Bertha
Donna
Cynthia
Alice
Doris
Ronald
Brittany
Nicholas
Mia
Noah
Joan
Debra
Tyler
Ida
Clara
Judith
Taylor
Alexis
Alexander
Mason
Harry
Sharon
Steven
Tammy
Brandon
Liam
Anthony
Annie
Gary
Jeffrey
Jayden
Charlotte
Lillian
Kathleen
Justin
Austin
Chloe
Benjamin
Evelyn
Megan
Aiden
Harper
Elijah
Bessie
Larry
Rebecca
Lauren
Amelia
Logan
Oliver
Walter
Carolyn
Pamela
Lori
Laura
Tracy
Julie
Scott
Kelly
Crystal
Rachel
Lucas